{{$value := (raw_value_of .ResourceValue .Meta)}}

<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__block qor-file {{if $value.IsImage}}qor-file__image{{end}}">
    <div class="qor-fieldset">
      <textarea class="qor-file__options hidden" data-cropper-title="{{t "github_com:aghape:media:form.crop_image"}}" data-cropper-cancel="{{t "github_com:aghape:media:form.cancel"}}"
                data-cropper-ok="{{t "github_com:aghape:media:form.ok"}}" name="{{.InputName}}" aria-hidden="true">{{if $value}}{{$value.Value}}{{end}}</textarea>
      <div class="qor-file__list">
        {{if $value.IsImage}}
          {{if $value.GetSizes}}
              <ul>
              {{range $key, $v := $value.GetSizes}}
                {{if not (is_included $key "@")}}
                    <li>
                        <img src="{{$value.FullURL (qor_context) $key}}" data-original-url="{{$value.FullURL "original"}}" data-size-name="{{$key}}" data-size-resolution="{{marshal $v}}">
                        <span>{{$key}} ({{$v.Width}}&times;{{$v.Height}} px)</span>
                    </li>
                {{end}}
              {{end}}
              </ul>
          {{else}}
            <ul>
              <li><img src="{{$value.FullURL (qor_context)}}" data-original-url="{{$value.FullURL (qor_context) "original"}}" data-size-name="original" alt="{{$value.GetFileName}}"></li>
            </ul>
          {{end}}
        {{else if $value.FileName}}
          <ul>
            <li class="qor-file__list-item">
              <span>
                {{if (eq $value.Ext ".svg")}}
                  <img src="{{$value.FullURL (qor_context)}}" class="is-svg" alt="{{$value.GetFileName}}">
                {{else}}
                  <span>{{$value.GetFileName}}</span>
                {{end}}
              </span>
              <div class="qor-cropper__toggle">
                <div class="qor-cropper__toggle--delete"><i class="material-icons">delete</i></div>
                <div class="qor-cropper__toggle--download">
                  <a href="{{$value.FullURL (qor_context)}}" class="qor-file__action-download" download="{{$value.GetFileName}}"
                     title="{{t "github_com:aghape:media:form.download"}}"><i class="material-icons">file_download</i></a>
                </div>
              </div>
            </li>
          </ul>
        {{end}}
      </div>

      <label class="mdl-button mdl-button--primary qor-button__icon-add" title="{{t "github_com:aghape:media:form.choose_file"}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>
        <input class="visuallyhidden qor-file__input" id="{{.InputId}}" name="{{.InputName}}" type="file">
        {{t (printf "%v.attributes.add_%v" .BaseResource.ToParam (singular (meta_label .Meta))) (printf "Add %v" (singular (meta_label .Meta)))}}
      </label>
    </div>
  </div>
</div>
