{{$value := (raw_value_of .ResourceValue .Meta)}}
<div class="qor-field">

<label class="qor-field__label" for="{{.InputId}}">
  {{meta_label .Meta}}
</label>

<div class="qor-field__block qor-file qor-file__image">

<!-- Start: file form -->
<div class="qor-fieldset" data-tab-source="file">
  <textarea class="qor-file__options hidden" name="{{.InputName}}" aria-hidden="true"
    {{if ($value.Cropable)}}
    data-cropper-title="{{t "github_com:ecletus:media:form.crop_image"}}"
    data-cropper-cancel="{{t "github_com:ecletus:media:form.cancel"}}"
    data-cropper-ok="{{t "github_com:ecletus:media:form.ok"}}"
    {{end}}>{{if $value}}{{$value.Value}}{{end}}</textarea>

  <div class="qor-file__list">
    <ul>
      {{if ($value.Cropable)}}
        {{if not ($value.OriginalSizeDefined)}}
          <li>
              <img src="{{$value.FullURLU (qor_context)}}" data-original-url="{{$value.FullURLU (qor_context)}}" data-size-name="original">
          </li>
        {{end}}
        {{if $value.GetSizes}}
          {{range $key, $v := $value.GetSizes}}
            {{if not (is_included $key "@")}}
              <li>
                <img src="{{$value.FullURLU (qor_context) $key}}" data-original-url="{{$value.FullURLU (qor_context)}}" data-size-name="{{$key}}" data-size-resolution='{{marshal $v}}'>
                <span>{{$key}} ({{$v.Width}}&times;{{$v.Height}} px)</span>
              </li>
            {{end}}
          {{end}}
        {{else}}
            <li><img src="{{$value.FullURLU (qor_context)}}" data-original-url="{{$value.FullURLU (qor_context)}}" data-size-name="original" alt="{{$value.GetFileName}}"></li>
        {{end}}
      {{else}}
          <li><img src="{{$value.FullURLU (qor_context)}}" alt="{{$value.GetFileName}}"></li>
      {{end}}
    </ul>
  </div>

  <label class="mdl-button mdl-button--primary qor-button__icon-add" title="{{t "github_com:ecletus:media:form.choose_file"}}"
    {{if not (has_update_permission .Meta)}}disabled{{end}}>
    <input class="visuallyhidden qor-file__input" id="{{.InputId}}" name="{{.InputName}}" type="file" {{if not ($value.Cropable)}}data-cropper="disabled"{{end}}>
    {{t (printf "%v.attributes.add_%v" .BaseResource.ToParam (singular (meta_label .Meta))) (printf "Add %v" (singular (meta_label .Meta)))}}
  </label>
</div>
<!-- End: file form -->
</div>
</div>