{{$value := (raw_value_of .ResourceValue .Meta)}}

{{if $value}}
  {{if $value.IsImage}}
    {{if (index $value.GetSizes "@qor_preview")}}
      <img src="{{$value.FullURL (qor_context) "@qor_preview"}}" alt="{{$value.GetFileName}}">
    {{else}}
      <img src="{{$value.FullURL (qor_context)}}" alt="{{$value.GetFileName}}">
    {{end}}
  {{else if (eq $value.Ext ".svg")}}
    <img src="{{$value.FullURL (qor_context)}}" alt="{{$value.GetFileName}}">
  {{else}}
    <span class="qor-table--medialibrary-file"><a href="{{$value.FullURL (qor_context)}}">{{$value.GetFileName}}</a></span>
  {{end}}
{{end}}
